---

- name: install dev
  hosts: devservers
  become: yes

  tasks:
  - name: Ensure default-jdk is installed
    apt:
      name: default-jdk
      state: present
  - name: Ensure git is installed
    apt:
      name: git
      state: present
  - name: Ensure maven is installed
    apt:
      name: maven
      state: present
  - name: Clone app from git
    git:
      repo: https://github.com/boxfuse/boxfuse-sample-java-war-hello.git
      dest: /tmp/boxfuse
  - name: Make WAR file
    shell:
      chdir: /tmp/boxfuse
      cmd: mvn package
  - name: rename WAR
    shell:
      cmd: mv /tmp/boxfuse/target/hello-1.0.war /tmp/boxfuse/target/ROOT.war
#  - name: Push WAR File
#    synchronize:
#      src: /tmp/boxfuse/target/ROOT.war
#      dest: rsync://10.129.0.23/var/lib/tomcat9/webapps/ROOT.war
#    delegate_to: 10.129.0.10




- name: install prod
  hosts: prodservers
  become: yes

  tasks:
  - name: Ensure default-jdk is installed
    apt:
      name: default-jdk
      state: present
  - name: Ensure tomcat is installed
    apt:
      name: tomcat9
      state: latest
  - name: Clean tomcat dir
    file:
      path: /var/lib/tomcat9/webapps/ROOT
      state: absent
  - name: Pull WAR File
    synchronize:
      mode: pull
      src: rsync://10.129.0.10/tmp/boxfuse/target/ROOT.war
      dest: /var/lib/tomcat9/webapps/ROOT.war
    delegate_to: 10.129.0.23













