---

- name: install dev
  hosts: devservers
  become: yes

  tasks:
  - name: Ensure default-jdk is installed
    apt:
      name: default-jdk
      state: present
  - name: Ensure git is installed
    apt:
      name: git
      state: present
  - name: Ensure maven is installed
    apt:
      name: maven
      state: present
  - name: Clone app from git
    git:
      repo: https://github.com/boxfuse/boxfuse-sample-java-war-hello.git
      dest: /tmp/boxfuse
  - name: Make WAR file
    shell:
      chdir: /tmp/boxfuse
      cmd: mvn package
  - name: Push WAR File to Control
    synchronize:
      mode: pull
      src: /tmp/boxfuse/target/hello-1.0.war
      dest: /tmp/ROOT.war



- name: install prod
  hosts: prodservers
  become: yes

  tasks:
  - name: Ensure default-jdk is installed
    apt:
      name: default-jdk
      state: present
  - name: Ensure tomcat is installed
    apt:
      name: tomcat9
      state: latest
  - name: Clean tomcat dir
    file:
      path: /var/lib/tomcat9/webapps/ROOT
      state: absent
  - name: Pull WAR File from Control
    synchronize:
      src: /tmp/ROOT.war
      dest: /var/lib/tomcat9/webapps/ROOT.war












